{% extends "writer/navbar.html" %}


{% block content %}
    {% for article in All_Article   %}
        <div class="container bg-white shadow-md p-5 form-layour">
            <h2>{{article.title}}</h2>
            {{article.content}}
            {{article.date_posted}}

            <br><br>
            <a href="{% url 'update-article' article.id %}">Update Article</a>

            <a href="{% url 'delete-article' article.id %}">Delete Article</a>
        </div>
    {% endfor %}
{% endblock content %}