{% extends "writer/navbar.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layour">
        <h2>Update Article</h2>
        <p>You may Update an article below: </p>
        <br>
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{UpdateArticle | crispy}}

            <button class="btn btn-success" type="submit">Update Article</button>
        </form>
    </div>
{% endblock content %}